

/* CSS Components */

body {
  background-color: #FBF3E4;
  font-family: "Arial Black", Arial, sans-serif;
}

p {
  color: #6EBF8B;
  font-family: Ubuntu, sans-serif;
  line-height: 2;
}

a {
  color: #0FABBC;
  text-decoration: none;
  font-family: "Source Code Pro", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 10px;
}

a:hover {
  color: white;
}


/* TOP */

.to-top {
  font-size: 5rem;
  z-index: 2;
  position: fixed;
  margin: 600px 0 0 0;
}


/* Navigation Bar */

.navbar {
  padding-bottom: 2.5rem;
}

.oz-logo {
  width: 10%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
  font-weight: lighter;
  color: #6EBF8B !important;
}
/* try id's instead of classes */
.nav-link:hover {
  background-color: #D9E4DD;
}

nav .custom-nav-container ul li.active-list-item {
  transition: 0.3 ease background-color;
}

nav .custom-nav-container ul li.active-list-item a{
  background-color: #D9E4DD;
}


/* Container-fluid */

.container-fluid {
  text-align: center;
  padding: 3% 50% 3%; /*top left-right bottom*/
}


/* Section Components */

.section-container{
  margin: auto 400px;
  text-align: left;
  padding: 3%;
}

.section-item {
  padding-top: 3%;
  color: white;
}

.section-title{
  padding-top: 7%;
  color: #D9E4DD;
  font-family: "Source Code Pro", sans-serif;
  font-size: 6rem;
}

.section-subtitle {
  font-family: Ubuntu, sans-serif;
  font-size: 2.5rem;
  color: #DFD8CA;
}


/* introduction */

.top-container {
  background-color: #FBF3E4;
  padding-top: 10%;
}

@media (max-width: 680px) {

  .top-container {
    padding-top: 30% !important;
  }

  .introduction-h1 {
    font-size: 7rem !important;
  }

  .section-title {
    padding: 6%;
    font-size: 4rem;
  }

  .section-subtitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 1320px) {
  .section-container{
    margin: 0;
    text-align: center;
    padding: 3%;
  }
  .skills-style i {
    padding-right: 0 !important;
    font-size: 3rem !important;
  }
}

@media (max-width: 1028px) {

  .top-container {
    padding-top: 20%;
  }

  .skills-style .section-subtitle {
    width: 100%;
    text-align: center;
  }
}

.introduction-h1 {
  color: #D82148;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 11rem;
  font-weight: bolder;
}

.introduction-h2 {
  font-family: Ubuntu, sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  padding: 5%;
  color: #105652;
}

.introduction-h3 {
  font-family: Ubuntu, sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 5%;
  color: #105652;
}

.introduction-h6 {
  color: #D82148;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
}

.introduction-p {
  font-size: 1rem;
  padding-top: 7%;
}

.avatar-img {
  border-radius: 100%;
  width: 65%;
}


/* Experience */

.experience-style, .contact-style {
  color: #FBF3E4;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: #B91646;
}

.experience-style a {
  font-family: Ubuntu, sans-serif;
  font-size: 2.5rem;
  color: #DFD8CA;
}

.experience-style a:hover {
  color: #105652;
}


/* skills */

.skills-style, .education-style {
  text-align: center;
  background-color: #FBF3E4;
}

.carousel-item {
  padding: 7% 15%; /* Apply padding only to the parts where it needs to be padded, instead of targeting the entire section/container ... The change also causes the bottons to be further away*/

}

.skills-style .section-title {
  color: #B91646;
}

.skills-style .section-subtitle {
  color: #6EBF8B;
}

.control-button {
  filter: invert(100%);
}

.carousel-indicators {
  filter: invert(100%);
}

.carousel-indicators button:hover {
  cursor: default;
}

.skills-style i {
  color: #105652;
  font-size: 4rem;
  padding-top: 2%;
  padding-right: 10px;
}

.rating {
  padding-bottom: 10%;
}


/* Projects */

.projects-style{
  text-align: center;
  background-color: #B91646;
}

.projects-style .section-item{
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 5%;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3% 0 4% 0;
}


/* Education */

.unr-logo {
  width: 35%;
  text-align: center;
  padding-bottom: 5%;
}

.education-style .section-title {
  text-align: center;
  color: #B91646;
}

.education-style .section-subtitle {
  text-align: center;
  color: #105652;
  padding: 5% 0;
}

.unr-logo-container {
  text-align: center;
}


/* Contact Me */

.contact-style {
  color: #FBF3E4;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: #B91646;
}

.contact-style .section-container{
  text-align: center;
  padding: 7%;
}

.fotter-btns-container {
  padding: 5%;
}

.dropdown-menu, .dropdown-menu a, .dropdown a {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

.dropdown-menu a {
  display: contents;
  font-size: 1rem;
}

.footer-style {
  background-color: #FBF3E4;
  padding: 3%;
}

.footer-style h6  {
  text-align: center;
  font-family: Ubuntu, sans-serif;
}
